body{
    background-color: pink;/*background-color es para color de fondo*/
}
h1{
    background-color: rgba(168, 186, 211, 0.301);
    color: wite;/*color es para aplicar color al texto*/
    
}
h2{font-size: medium;
    background-color: pink;
    color: blue;
}
i{
    color: blueviolet;
}